<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>

    {{ if . }}
    <h1>Welcome</h1>
    <h1>Your email is {{ .UserEmail }}</h1>
    <h1>{{ .LastActivity }}</h1>
    <a href="/logout">logout</a>
    
    <a href="/auth">auth</a>
    {{ else }}
    <h1>LEAF</h1>
    <a href="/signup">signup</a>
    <a href="/login">login</a>
   
    {{ end }}
</body>
</html>